WebClient/WpfWebClient/Connected Services/ServiceReferenceEHEC/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:City" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="tns:Gender" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientAtFoodPlaces" nillable="true" type="tns:ArrayOfPatientAtFoodPlace" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Salutation" nillable="true" type="tns:Salutation" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityID" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="Gender">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenderID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfPatientAtFoodPlace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientAtFoodPlace" nillable="true" type="tns:PatientAtFoodPlace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientAtFoodPlace" nillable="true" type="tns:ArrayOfPatientAtFoodPlace" />
  <xs:complexType name="PatientAtFoodPlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodPlace" nillable="true" type="tns:FoodPlace" />
      <xs:element minOccurs="0" name="FoodPlaceID" type="xs:int" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="VistingDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientAtFoodPlace" nillable="true" type="tns:PatientAtFoodPlace" />
  <xs:complexType name="FoodPlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:City" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoodPlaceID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientAtFoodPlaces" nillable="true" type="tns:ArrayOfPatientAtFoodPlace" />
      <xs:element minOccurs="0" name="Streetname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Streetnumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoodPlace" nillable="true" type="tns:FoodPlace" />
  <xs:complexType name="Salutation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalutationID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salutation" nillable="true" type="tns:Salutation" />
  <xs:complexType name="Doctor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="Exam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="tns:Doctor" />
      <xs:element minOccurs="0" name="ExamID" type="xs:int" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="Strain" nillable="true" type="tns:Strain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exam" nillable="true" type="tns:Exam" />
  <xs:complexType name="Strain">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrainID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Strain" nillable="true" type="tns:Strain" />
  <xs:complexType name="ArrayOfGender">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gender" nillable="true" type="tns:Gender" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGender" nillable="true" type="tns:ArrayOfGender" />
  <xs:complexType name="ArrayOfSalutation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Salutation" nillable="true" type="tns:Salutation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalutation" nillable="true" type="tns:ArrayOfSalutation" />
  <xs:complexType name="ArrayOfStrain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Strain" nillable="true" type="tns:Strain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStrain" nillable="true" type="tns:ArrayOfStrain" />
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="ArrayOfFoodPlace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FoodPlace" nillable="true" type="tns:FoodPlace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoodPlace" nillable="true" type="tns:ArrayOfFoodPlace" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
</xs:schema>