WebClient/WebClient/Connected Services/ServiceReferenceEhec/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
  <xs:element name="WritePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="person" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="exam" nillable="true" type="q2:Exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="result" nillable="true" type="q3:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="city" nillable="true" type="q4:City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteCityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="country" nillable="true" type="q5:Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteCountryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGendersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="GetGendersResult" nillable="true" type="q6:ArrayOfGender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalutations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalutationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="GetSalutationsResult" nillable="true" type="q7:ArrayOfSalutation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="GetStrainsResult" nillable="true" type="q8:ArrayOfStrain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="GetDoctorsResult" nillable="true" type="q9:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>